//
//  Play-Debug.xcconfig
//  Play
//
//  Created by Nathan Borror on 3/10/13.
//  Copyright (c) 2013 Nathan Borror. All rights reserved.
//

// Consumer Key and Secret need to be obtained by registering for a
// developer account at http://developer.rdio.com

RDIO_CONSUMER_KEY = YOUR_CONSUMER_KEY
RDIO_CONSUMER_SECRET = YOUR_CONSUMER_SECRET
RDIO_USER_EMAIL = YOUR_EMAIL
